@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font-fam__primary: 'Poppins', sans-serif;
  --color-primary: #1B819C;
  --color-secondary: #6fa6b5;
  --color-light: #fff;
  --bg-thick:#0A2C50;
  --color-text:#041030;
  --bg-entire: #F0ECE8;
}
html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
font-family: var(--font-fam__primary);
color: var(--color-secondary);
font-size: 16px;
height: 100vh;
color: #050505;
line-height: 1.9;
background-blend-mode: overlay;
  background-color: #f4f5f5;
}

.background{
  background:url(./images/img__show.jpg)
no-repeat center center/cover;
  background-blend-mode: overlay;
  background-color: #030b168e;
  background-color: #030b16e7;
  width: 100%;
  color: #fff;
}
nav{
  width: 100%;
  height: 100px;
  background-color: transparent;
}
.container{
  margin: auto;
  max-width: 1100px;
  width: 90%;
}

/******* NAV STYLING ********/
nav .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border:1px solid #9b7fbe; */
}
nav .container .logo{
  width: 300px;
  /* padding: 20px;
   */
}
nav .container .lists{
  display: flex;
}
nav .container .lists .item{
  list-style-type: none;
  padding: 0px 30px;
  display: inline-block;
}
nav .container .lists .item a{
  text-decoration: none;
 color: var(--color-light);
  font-family: var(--font-fam__secondary);
  font-weight: 400;
   transition: all 0.2s ease-in-out;
}
nav .container .lists .item a:hover{
   color: #b35d06;
}

/* nav .container .lists .item--5{
  padding-right: 0px;
} */
nav .container .lists .item--4 a{
color: #020611;
padding: 10px 20px;
/* border-radius: 20px; */
background-color: #fff;
  /* background-color:#19718a; */

}


.fa-sort-down{
  transform: rotate(270deg);
  color: #020611;
  margin-top: 5px;
}

nav .container .lists .item--4 a:hover, 
nav .container .lists .item--4 a:hover .fa-sort-down{
  color: #fff;
  background-color: transparent;
}
/* 
.bar{
  width: 35px;
  height: 30px;
position: absolute;
background-color: #fff;
}
.bar span{
  display: inline-block;
  width: 100%;
  height: 10%;
  padding: 20px;
} */

.section{
  border-bottom: 1px solid #04103059;
  box-shadow: 0px 1px 1px -1px #04103059;

}
.section .container{
  padding: 120px 50px;
  color:#444;;
}

.foot{
 background-color: #041030;
 width: 100%;
 height: 800px;
}
foot .container{
  padding: 50px;
}


/******* HERO STYLING ********/

.home .container.hero{
display: flex;
flex-direction: column;
align-items: center;
}



.hero__text{
    grid-area: h1;
    justify-self: center;
    padding: 30px;
    font-size: 40px;
    word-spacing: 20px;
    
    font-family: 'Lobster', sans-serif;
    animation: movement 2s 1s ease-in-out forwards;
    transition: all 0.5s ease-in-out;
}
@keyframes movement {
  0%{color: transparent; opacity: 0;}
  
  50%{ opacity: 0.5;}
  
  100%{
    display: block; opacity: 1;
  } 
}


.hero__text span{
 color: #b35d06;
 margin: auto;
 
}

.hero__content{
  padding: 50px;
  border-bottom: 5px solid #b35d06;
 border-radius: 30px;
 box-shadow: 1px 1px 0px 0px rgba(0, 0, 0,
    0.3);
  margin-top: 30px;
  width: 50%;
  align-self: flex-start;
  justify-self: center;
  margin-bottom: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero__content h2{
  justify-self: flex-start;
   overflow: hidden;
   white-space: nowrap;
   line-height: 2;
   animation: typing 2s steps(500) forwards 3s infinite, blink-caret .7s step-end 5s infinite;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 50%;
  }
}

@keyframes blink-caret {
  from, to{
    border-color: transparent;
  
}
}
.hero__content p{
  margin-bottom: 20px auto;
  font-weight: 600;
}
/*********BTN STYLING*********/

.btn--order{
  display: inline-block;
  padding: 10px 20px;
  color: #292929;
  background-color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
.btn--order:hover,
 .btn--order:hover .fa-sort-down{
  color: #fff;
  background-color: transparent;

}
.hero__img{
  font-size: 300px;
  /* display: inline-block; */
  float: right;
  margin-top: -550px;
  opacity: 0.5;
  

  
}

/*******FEATURES*******/
#section--1{
max-width: 100%;

}
.container--img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  cursor: default;
  width: 100%;
  
}
.container--img .img{
  transition: all 0.5s ease-in-out;
}
.img{
  width: 100%;

  /* position: relative; */
}

.img img{
  width: 300px;
height: 200px;
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0,
  0.4);
  border-radius: 5px;
  /* max-width: 100%; */
  margin: auto;
}
.container--img .img:hover{
  transform: scale(1.1);
}

.img .pro--text{
display: inline-block;
position: absolute;
/* top: -px; */
bottom: 9.8px;
box-shadow: 0px 1px 4px 1px rgba(0, 0, 0,
  0.4);
left:0px;
width: 0%;
height: 60px;
background-color: #b35d06;
color: transparent;
}

.img:hover .pro--text{
  /* position: fixed; */
  /* color: #fff; */
  animation: myanime 1s ease-in-out forwards;
  padding-left: 10px;
}
@keyframes myanime {
  20%{color: transparent;  display: inline-block;} 
  40%{color: transparent; } 
  60%{color: transparent; } 
 100%{color: #fff;width: 153%; display: inline-block;} 
}



/* PRODUCT DESCRIPTION */

.pro--text .title {
font-size: 15px;
}
.pro--text .desc{
  font-size: 12px;
}

.products{
  text-align: center;
  margin: 20px;

}


/* SCROLL TO VIEW */
/* JS NEEDED */
/* #section--1{ */
  /* scroll-behavior: smooth; */
/* } */
/*  */
/*****  SERVICES  ******/
#section--2 .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}

.serv--img{
  width: 50px; 
    margin-bottom: 30px;
}
.service--head{
  color: #b35d06;
}
/* A person sleeps an average  25 years in their lifetime */

/* JS needed */
/* @keyframes blur { */
  /* 0%{filter: blur(20px);} */
  /* 100%{filter: blur(0px);} */
/* } */




/* TESTIMONIAL SECTION */

#section--3{
  background: url(./images/testimonial-background.jpg) no-repeat center center/cover;
  background-blend-mode:overlay;
  background-color: #000615f0;
height: 1100px;
}


.testimonials{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}
.testimonials .testimonial{
  color: #fff;
  padding: 40px;
 border-bottom: 5px solid #b35d06;
 border-radius: 30px;
 box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0,
    0.4);

}
.testimonial__profile{
  display: flex;

}


img.profile__img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 1px solid #b35d06;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px  #b35d06;

}
.test__text{
  font-size: 14px;
}
.test__star{
  width: 100%;
  text-align: right;
}
#section--3{
  border-bottom: 1px solid transparent;
  box-shadow: none;
}


/* FOOTER */
footer.foot{
  background: linear-gradient(to top,  #000000,  #000000,  #000000, #000106f0);
  height: auto;
  background-color: #041546b5;
  color: #fff;
  padding-top: 50px;
}
.foot .container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}


.foot .container .links{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.foot .container .links ul{
  list-style: none;
}

.foot .container .links ul li a{
  color: #909090;
  transition: all 0.3s ease-in-out;
}
.foot .container .links ul li a:hover{
  color: #b35d06;
}

.foot .container .lang{
  width: 100px;
  height: 30px;
  font-family:var(--font-fam__primary);
  background-color: transparent;
  color: #909090;
  padding: 5px;
  border: 1px #434343 solid;
  border-radius: 5px;
  font-weight: 600;
}
.foot .container .footer__sign{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* margin-left: -25px; */
  /* padding-bottom: 30px; */

}
.foot .container .footer__sign .foot--img{
  width: 200px;
  /* position: relative; */
  /* left: -10px; */
  /* bottom: 10px; */
  /* top: 5px; */
}
.foot .container .footer__sign .copyright{
  /* margin-left: -10px; */
  font-size: small;
  color: #909090;
}


.hamburger{
  width: 30px;
  height: 25px;
  display: block;
  background-color: transparent;
  line-height: 2px;
  position: relative;
  display: none;
  z-index: 50;
  cursor: pointer;
}
.hamburger .box{
  background-color: #fff;
  position: absolute;
  height: 15%;
  width: 100%;
  border-radius: 5px;
  
}

.hamburger:hover .box{
  opacity: .6;
  transition: opacity .5s;
  }
.hamburger .box1{
  position: absolute;
  top: 0%;
  
}
.hamburger .box2{
  position: absolute;
  top: 45%;
  
}
.hamburger .box3{
  position: absolute;
  bottom: 0%;
}

.delete{
  height: 50px;
  cursor: pointer;
  top: 50px;
  position: absolute;
  }
  
  .delete .cancel{
    position: absolute;
    margin: auto;
    color: #292929;
    font-size: 3rem;
  }
  .cancel:hover{
    opacity: .6;
  }

@media screen and (max-width:1100px) {

  nav .container .lists{
    margin: auto;
  }

  .container--img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    cursor: default;
    
  }
 
  .hero__content h2{
    padding: 40px 0px;
  }

  @keyframes myanime {
    20%{color: transparent;  display: inline-block;} 
    40%{color: transparent; } 
    60%{color: transparent; } 
   100%{color: #fff;width: 166.5%; display: inline-block;} 
  }

}




/* MEDIA QUERIES */
@media screen and (max-width:870px) {

  nav{
    width: 100%;
    height: 100px;
    background-color: transparent;
  }
  .container{
    margin: auto;
    /* max-width: 1100px; */
    width: 90%;
  }
  
  /******* NAV STYLING ********/
  nav .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .container .logo{
   position: absolute;
    left: -20px;
    z-index: 20;
  }
  nav .container .lists{
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: -0px;
   display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    left: -20px;
    background-color: #ffffff;
    gap: 30px;
    color: #050505;
    opacity: 0;
    transition: opacity 1s;
  }
   nav .container .lists .item--4 a{
    background-color: transparent;
   }
   nav .container .lists .item--4 a:hover, 
   nav .container .lists .item--4 a:hover .fa-sort-down{
     color: #b35d06;
     background-color: transparent;
   }
   
   nav .container .lists .item{
    width: 350px;
    border-bottom: 1px solid #292929;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
   nav .container .lists .item a{
     color: #292929;
     width: 100%;
     padding-bottom: 10px;
   }


.background{
  height: 1000px;
}
  /******* HERO STYLING ********/
  
  .home .hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-row:1fr 1fr 1fr;
  }
  .hero__text{
    display: inline-block;
      grid-area: h1;
      justify-self: center;
      padding: 30px;
      font-size: 40px;
      word-spacing: 20px;
margin: auto;
      font-family: 'Lobster', sans-serif;
      animation: movement 2s 1s ease-in-out forwards;
      transition: all 0.5s ease-in-out;
      position: relative;
  }
  @keyframes movement {
    0%{color: transparent; opacity: 0;}
    
    50%{ opacity: 0.5;}
    
    100%{
      display: inline-block; opacity: 1;
    } 
  }
  
  
  .hero__text span{
   color: #b35d06;
   margin: auto;
   display: block;
  }


  /* Another */
  .hero__img{
    display: none;
  }
  .hero__content{
    height: 100px;
    /* grid-area: cont; */
    padding: 20px 0px;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 5px solid #b35d06;
   border-radius: 30px;
   box-shadow: 1px 1px 3px 0px  rgba(0, 0, 0,
      0.3);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .hero__content h2{
    justify-self: flex-start;
     overflow: hidden;
     white-space: nowrap;
     line-height: 2;
     animation: typing 2s steps(500) forwards 3s infinite, blinking .7s step-end 5s infinite;
  }
  
  @keyframes typing {
    from{width: 0;}
    to{width: 50%;}
  }
  
  @keyframes blinking{
    from, to{
      border-color: transparent;}
  }
  .hero__content p{
    margin-bottom: 20px auto;
    font-weight: 600;
  }
  .btn--order:hover,
  .btn--order:hover .fa-sort-down{
   color: #fff;
   background-color: transparent;
 
 }
  /*******IMAGE STYLING*******/
  .container--img{
    margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
      cursor: default;
      justify-content: center;
      align-items: center;
      width: 100%;

    }
  .container--img .img{
    transition: all 0.5s ease-in-out;
      width: 50%;
      position: relative;
  }

  .img img{
    width: 250px;
  height: 150px;}
  #section--2 .container{
    padding: 50px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    }

  #section--1{
    margin: auto;
  }

  /*****  SERVICES  ******/

  
  .serv--img{
    width: 100%; 
    box-shadow: 0px 0px 3px 2px  rgba(0, 0, 0,
      0.4);
  }

  
  
  
  /* TESTIMONIAL SECTION */
  
  #section--3{
    background: url(./images/testimonial-background.jpg) no-repeat center center/cover;
    background-blend-mode:overlay;
    background-color: #000615f0;
  height: auto;
  }
  .test-head{
    color: #fff;
    text-align: center;
    padding: 20px;
  }
 
  

.testimonials .testimonial{
  color: #fff;
  padding: 30px;
 border-bottom: 5px solid #b35d06;
 border-radius: 30px;
 box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0,
    0.4);
   height: auto;
}
.testimonial__profile{
  display: flex;
  margin: 10px;
}

  .foot{
    background: linear-gradient(to top,  #000000,  #000000,  #000000, #000106f0);
    height: 100%;
    background-color: #041546b5;
    color: #fff;
    padding-top: 50px;
  }
  .foot .container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .foot .container .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .hamburger{
    display: block;
    position: absolute;
    right: 50px;
  }
  .delete{
    display: none;
    position: absolute;
    right: 80px;
    z-index: 150;
    top: 10px;
    background-color: red;
  }
  
}

@media screen and (max-width:700px){
.container--img{
  
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  cursor: default;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.img img{
  width: 350px;
height: auto;
}

@keyframes myanime {
  20%{color: transparent;  display: inline-block;} 
  40%{color: transparent; } 
  60%{color: transparent; } 
 100%{color: #fff;width: 200%; display: inline-block;} 
}


.fa-bars-staggered{
    display: block;
    opacity: 1;
    cursor: pointer;
    right: 50px;
 transition: all 0.2s ease-in-out;
 z-index: 100;
 color: #fff;
 /* opacity: 0; */
    transition: opacity 1s;
  }
  
  .fa-xmark{
    opacity: 0;
    cursor: pointer;
    color: #fff;
   
    transition: opacity 1s;
 z-index: 100;
 color: #292929;
  } 


}